{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Восстановление пароля" %}{% endblock %}

{% block content %}

    <h1>{% trans "Восстановление пароля" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Забыли пароль? Дайти почту мы решим все" %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Reset My Password' %}" />
    </form>

    <p>{% blocktrans %}Если у вас проблемы с вводом пароля не говорите об этом нам.{% endblocktrans %}</p>
{% endblock %}
