{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Подтверждение почту" %}{% endblock %}

{% block content %}
<h1>{% trans "Подтверди почту" %}</h1>

{% url 'account_email' as email_url %}

<p>{% blocktrans %}Здесь почту подтвержают если че. {% endblocktrans %}</p>

<p>{% blocktrans %}Проверь почту и нажми на ссылку в письме.{% endblocktrans %}</p>

<p>{% blocktrans %}<strong>Note:</strong> все еще можно <a href="{{ email_url }}">сменить почту</a>.{% endblocktrans %}</p>


{% endblock %}
